
.title{
  font-size: 120%;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.589);
  }

.index-section-top{
  padding-top: 7%;
  
}

.third-section{
  padding-top: 5%;
}

.divider{
  padding: 10%;
}

.divider-2{
  padding: 2%;
}

.heading{
  text-align: center;
}

.sm-text{
  font-size: 120%;
}

.section-btn-register{
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
}

.btn-register{
  font-size: 200%;
}

.register-form{
  background-color: rgb(255, 255, 255);
  border-radius: 7%;
  padding-top: 15%;
  padding-bottom: 15%;
  text-align: center;
  align-items: center;
}

.register-container{
  background-image: url('images/FondoRegata.jpg');
  background-size: cover;
  padding-top: 12%;
  padding-left: 37%;
  padding-right: 37%;
  padding-bottom: 8%;
}

.registered{
  padding-top: 8%;
}

/*Ajuste de tamaño para el formulario*/
@media (max-width: 900px) {
  .register-container {
      padding: 200px; /* Ajustar el espacio interno en pantallas pequeñas */
  }
}

@media (max-width: 650px) {
  .register-container {
      padding: 50px; /* Ajustar el espacio interno en pantallas muy pequeñas */
  }
}

.home_container_form{
  padding-top: 10%;
}

.home_container{
  padding-top: 3.5%;
}

.home-form{
  padding-right: 20%;
}

.calendar {
  display: flex;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
}

/* Estilo para cada tarjeta de día */
.day-card {
  flex: 0 0 auto; /* Evita que las tarjetas se flexionen y mantienen su tamaño fijo */
  width: 200px; /* Ancho fijo de cada tarjeta */
  height: auto; /* Altura automática según el contenido */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-right: 10px; /* Espacio entre tarjetas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.events {
  margin-top: 10px;
  text-align: left;
}

/* Personalización de la barra de desplazamiento para navegadores WebKit */
.calendar::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
  height: 12px; /* Altura de la barra de desplazamiento horizontal */
}
.calendar::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
.calendar::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}
.calendar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}