{% extends "layout.html" %}

{% block title %}
    Home {{user}}
{% endblock %}


{% block main %}
    {% if weight and height %}
    <div class="home_container container">
        <section>
            <div class="row">
                <div class="col"><p>weight: {{ weight }}kg</p></div>
                <div class="col"><p>height: {{ height }}cm</p></div>
                <div class="col"><p>base caloric intake: {{ base_cal_intake }}kcal</p></div>
                
            </div>
        </section>
        <div class="container mt-5">
            <div id="calendar" class="calendar"></div>
            <button class="btn btn-primary mt-3" onclick="addNewCard()">Add New Card</button>
        </div>

        <script>

            var today = moment();
            var i=0;

            const userEntries = [
                // Añade más entradas según sea necesario
            ];
    
            const addEvent = (day) => {
                const eventText = document.getElementById(`event-input-${day}`).value;
                const eventsList = document.getElementById(`events-${day}`);
                if (eventText) {
                    const eventItem = document.createElement('div');
                    eventItem.textContent = eventText;
                    eventsList.appendChild(eventItem);
                    document.getElementById(`event-input-${day}`).value = '';
                }
            };
    
            const createCalendar = () => {
                
                const calendar = document.getElementById('calendar');
                calendar.innerHTML = '';
                userEntries.forEach(entry => {
                    const dayCard = document.createElement('div');
                    dayCard.className = 'day-card';
                    
                    let cardTitle = entry.day;
                    // Verificar si la fecha de la tarjeta es hoy
                    if (entry.day.isSame(today, 'day')) {
                        dayCard.classList.add('today');
                        cardTitle = 'today';
                    }
                    else {
                        cardTitle = entry.day.format('DD-MM');
                    }

                    dayCard.innerHTML = `
                        <h5>${cardTitle}</h5>
                        <div class="events" id="events-${entry.day.format('MM-DD')}"></div>
                        <input type="text" id="event-input-${entry.day.format('MM-DD')}" class="form-control mt-2" placeholder="Add event">
                        <button onclick="addEvent('${entry.day.format('MM-DD')}')" class="btn btn-primary btn-sm mt-2">Add</button>
                    `;
                    calendar.appendChild(dayCard);
                });
            };

            
    
            const addNewCard = () => {
                const nextDay = moment(today).add(i, 'days');
                userEntries.push({ day: nextDay});
                i++;
            createCalendar();
            };
    
            createCalendar();
        </script>
        
    </div>
    {% else %}
    <div class="home_container_form container">
        
            <section class="home-data-explanation">
                <p>In order to know your needs, we need to ask you for some data</p>
            </section>
            <form action="/update" method="post" class="home-form">
                <div class="form-group pb-3">
                    <label for="weight">Weight (kg):</label>
                    <input type="number" step="0.1" class="form-control" id="weight" name="weight" required>
                </div>
                <div class="form-group pb-3">
                    <label for="height">Height (cm):</label>
                    <input type="number" step="1" class="form-control" id="height" name="height" required>
                </div>
                <div class="form-group pb-3">
                    <label for="gender">gender:</label>
                    <select class="form-control" id="gender" name="gender" required>
                        <option value="" disabled selected>Select your gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="form-group pb-5">
                    <label for="age">age:</label>
                    <input type="number" step="1" class="form-control" id="age" name="age" required>
                </div>
                <div class="form-group pb-3">
                    <label for="activity">Activity level:</label>
                    <select class="form-control" id="activity" name="activity" required>
                        <option value="" disabled selected>Select your level of activity</option>
                        <option value="1">Sedentary. Office job and no exercise during the day</option>
                        <option value="2">Slightly active. Office job, 1/2 days of exercise per week and or walking half an hour a day</option>
                        <option value="3">Moderately active. Standing job and 1/2 days of exercise or office job and 4/5 workouts a week</option>
                        <option value="4">Very active. Standing job plus 4/5 days of intense exercise or office job plus 5+ days of intense workout per week and usual walking</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% endif %}
    </div>
        
{% endblock %}