{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}



    <div class="register-container">
        <section class="">
            <form action="/login" method="post" class="register-form">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <h1 class="pb-3">Login</h1>
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
                </div>
                <button class="btn btn-success" type="submit">Register</button>
                <p class="registered">Are you not member yet?</p>
                <a class="btn btn-dark" href="/register">Register</a>
            </form>
        </section>
    </div>
{% endblock %}