{% extends "layout.html" %}

{% block title %}
    Recipes
{% endblock %}

<!-- En la parte superior de la página, aparecerá un formulario donde el usuario tendrá la capacidad de introducir nuevas recetas. El formulario constará de los valores "nombre"
 , ingredientes (una barra de búsqueda donde aparezcan todos los ingredientes y el usuario irá añadiendo. Los ingredientes se irán acumulando en forma de tarjetas tipo botón)
 y un botón "crear" que ejecutará la creación de la nueva receta. -->

{% block main %}
    <a>hello</a>
{% endblock %}